extends layout

block content
    div.senator-content
        h1 The 100 US Senators
        h5 Data from -
          a(href='https://www.senate.gov/general/contact_information/senators_cfm.xml')  https://www.senate.gov/general/contact_information/senators_cfm.xml
        h5 Request sent with request.js, Response parsed with xml2js.js
        .sen-filter-container
          div
            span#filters

          button(class='senBtn' type='button' onclick="senPartyFilter('R');") Republicans
          button(class='senBtn' type='button' onclick="senPartyFilter('D');") Democrats
          button(class='senBtn' type='button' onclick="senPartyFilter('I');") Independents
          button(class='senBtn' type='button' onclick="senClassFilter('Class I');") Class I
          button(class='senBtn' type='button' onclick="senClassFilter('Class II');") Class II
          button(class='senBtn' type='button' onclick="senClassFilter('Class III');") Class III

        div.senator-table-container
            table.senator-table
                tr
                  th First
                  th Last
                  th Party
                  th State
                  th Class
                each senator in senators
                  tr
                    td.sen=senator.first_name
                    td.sen=senator.last_name
                    td.sen.party=senator.party
                    td.sen=senator.state
                    td.sen.senClass=senator.class

        script(src='/javascripts/senator.colors.js')
        script(src='/javascripts/senator.filter.js')
