extends layout2

block content
    div.senator-content
        h1 The 100 US Senators
        h5 Data from
          a(href='https://www.senate.gov/general/contact_information/senators_cfm.xml') https://www.senate.gov/general/contact_information/senators_cfm.xml
        .sen-filter-container
          a(href='/senators/R') Republicans
          a(href='/senators/D') Democrats
          a(href='/senators/I') Independents
        div.senator-table-container
            table.senator-table
                tr
                  th First
                  th Last
                  th Party
                  th State
                  th Class
                each senator in senators
                  tr
                    td.sen=senator.first_name
                    td.sen=senator.last_name
                    td.sen.party=senator.party
                    td.sen=senator.state
                    td.sen=senator.class

        script(src='/javascripts/senator.colors.js')
